<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>header</title>
</head>

<body>

	<div id="content" th:fragment="content">
		<div class="container">
			<!-- Breadcrumbs line -->
			<div class="crumbs">
				<ul id="breadcrumbs" class="breadcrumb">
					<li><i class="icon-home"></i> <a href="/">主页</a></li>
				</ul>

			</div>
			<!-- /Breadcrumbs line -->

			<!--=== Page Header ===-->
			<div class="page-header">
				<div class="page-title">
					<h3>主页</h3>
					<span th:inline="text">欢迎使用，[[${#httpServletRequest.remoteUser}]]!</span>
				</div>

				<!-- Page Stats -->
				<ul class="page-stats">
					<li>
						<div class="summary">
							<span>新预约(待续)</span>
							<h3>0</h3>
						</div>
						<div id="sparkline-bar" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
						<!-- Use instead of sparkline e.g. this:
							<div class="graph circular-chart" data-percent="73">73%</div>
							-->
					</li>
					<li>
						<div class="summary">
							<span>历史记录(待续)</span>
							<h3>0</h3>
						</div>
						<div id="sparkline-bar2" class="graph sparkline hidden-xs">20,15,8,50,20,40,20,30,20,15,30,20,25,20</div>
					</li>
				</ul>
				<!-- /Page Stats -->
			</div>
			<!-- /Page Header -->

			<!--=== Page Content ===-->
			<!--=== Statboxes ===-->
			<div class="row row-bg">
				<!-- .row-bg -->

				<div class="col-sm-6 col-md-6">
					<div class="statbox widget box box-shadow">
						<div class="widget-content">
							<div class="visual red">
								<i class="icon-user"></i>
							</div>
							<div class="title">服务器数量</div>
							<div class="value" th:text="${serverscount}"></div>
							<a class="more" th:href="@{/admin/serverinfo}">查看更多 <i
								class="pull-right icon-angle-right"></i></a>
						</div>
					</div>
					<!-- /.smallstat -->
				</div>

				<!-- /.row -->
				<!-- /Page Content -->
			</div>
			<!-- /.container -->
		</div>
	</div>
</body>
</html>